{% extends 'site.htm' %}

{% block content%}
<!-- Authorization block -->
<div id = "Auth_block" style="text-align: center;">
	{% if error %}
	   </br>
	   <b><a style="color:red;">
	      {{ error }}
	   </a></b>
	   </br></br>
	{% endif %}
   <a><b>Авторизация</b></a><br><br />
   <!--<form action="<php echo $_SERVER['PHP_SELF'];?>" method="POST">-->
   <form action="./login" method="POST">
      <input type="hidden" name="do_auth" value="1">
         Логин: 
         <input type = "text" name = "login" required>
         Пароль: 
        <input type = "password" name = "pass" required>
        <br />
        <br />
      <center>
      <table>
         <tr>
            <td>
               <label>
                  <a>Чужой компьютер :<input type="checkbox" name="forgetme" /></a>
               </label>
               <input type="submit" value="Войти">
            </td>
         </tr>
      </table>
      </center>
   </form>
</div>
<br />
{% endblock content%}